*{
    background-color: rgb(255, 255, 255);
    
}

/* -----------------------header---------------------- */
header{
    width: 100%;
    text-align: center;
}


.banner{
    padding-top:5%;
    padding-bottom:5%;
    text-align:center;
    display: block;
    width:100%;
}
.bannerSection{
    display:flex;
    float:right;
    width:10%;
}












.logoWrapper{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top:0%;
    padding-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
    /* padding: 40px; */
    background-color: transparent;
    max-width: 100%;
    text-align: center;
}

/* .secondLogoWrapper{
    padding-top: 45%;
    padding-bottom: 42%;
    padding-left: 45%;
    padding-right: 45%;
    background-color: transparent;
    max-width: 100%;
} */

.logo{
    background-color:  transparent;
    width:auto;
    height:20%;
    max-width: 100%;
}
/* .secondLogo{
    background-color: transparent;
    width:auto;
    height:5%;
    display:inline-flex;
    
} */


/* -----------------------About---------------------- */
.introWrapper{
    /* border: 1px dashed grey; */
    text-align: center;
    vertical-align: middle;
    height: 30%;
    /* margin: 20px; */
}
.intro{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: medium;
    line-height: 3ch;
    text-align: center;
    
    width: 50%;
    height:auto;
    display:inline-block;
}

.mainSeperater{
    border: 1px dashed grey;
    /* margin-bottom: 10%; */
}

.script{
    
    display:inline-flex;
    align-items: center;
}
/* -----------------------Portfolio---------------------- */

.cover{
    /* background: #949090; */
    position: relative;
    display:inline-flex;
    align-items: center;
    text-align: center;
    object-fit: cover;
    width:33%;
    height:400px;
    
    /* min-width: 200px; */
}

.cover img{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    /* line-height: 30%; */
    display:inline-block;
    object-fit: cover;
    opacity: 1;
}

/* -----------------------Project Title---------------------- */
.inBlockTitle{
    left: 0;
    position:absolute;
    text-align:center;
    top: 45%;
    width: 100%;
    background: transparent;
    opacity: 1;
    color:white;
    font-size: 30px;
    
}
/* -----------------------Project Title & Text---------------------- */
.top-left{
    left:0;
    position: absolute;
    text-align:left;
    top:0;
    width:100%;
    background: transparent;
    opacity: 1;
    color:white;
    font-size: 20px;
}
.top-right{
    right:3%;
    position: absolute;
    text-align:right;
    top:0;
    width:10%;
    background: transparent;
    opacity: 1;
    color:white;
    font-size: 40px;
}
.top-right:hover{
    color:red;
}
.bottom-left{
    left:0;
    position: absolute;
    text-align:left;
    bottom:0%;
    width:100%;
    background: transparent;
    opacity: 1;
    color:white;
    font-size: 20px;
}
.bottom-right{
    right:0;
    position: absolute;
    text-align:right;
    bottom:0%;
    width:100%;
    background: transparent;
    opacity: 1;
    color:white;
    font-size: 20px;
}






.titleWrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: .3s ease;
    background-color: black;
}

.cover img:hover{
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}

.cover:hover .titleWrapper{
    opacity: 0.6;
}




.secondLogoWrapper{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 50%;
    padding: 0;
    background-color: transparent;
    max-width: 100%;
    
}
.secondLogo{
    background-color: transparent;
    width: 100%;
    
}
.projectName{
    margin:5% 5% 5% 5%;
    text-align: center;
}

.gallery{
    background-color: transparent;
    left: 5%;
    right: 5%;
    text-align: center; 
    padding-left:0%;
    padding-right:0%;
   
}


.text{
    display:inline-block;
    width: 60%;
    text-align: left;
}
.inTextImage{
    max-width: 60%;
    width:60%;
    height:auto;
    text-align: center;
}
.list{
    display:inline-block;
    width: 50%;
    text-align: left;
}
